@font-face {
	font-family: 'navarrows';
	src:url('../fonts/navarrows.eot?5lcf2g');
	src:url('../fonts/navarrows.eot?#iefix5lcf2g') format('embedded-opentype'),
		url('../fonts/navarrows.woff?5lcf2g') format('woff'),
		url('../fonts/navarrows.ttf?5lcf2g') format('truetype'),
		url('../fonts/navarrows.svg?5lcf2g#navarrows') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
background-color: #FFF;
color: #222;
font-family: arial,helvetica,sans-serif;
}

.down-arrow:after{
	font-family:'navarrows';
	content:"\e600";
	color:#fff;
	vertical-align:middle;
}

.right-arrow:after{
	font-family:'navarrows';
	content:"\e601";
	font-size:1.5em;
	vertical-align:middle;
	display:inline;
	right:0%;
	
}
.mainnav{
	list-style:none;
	background:#4D5357;
	color:#fff;
	width:100%;
	height:68px;
	position:relative;
	font-weight:bold;
	li{
		float:left;
		text-transform: uppercase;
		position:relative;
		margin-right:30px;

	}
	a{
		color:#E1953E;
		padding:10px;
		&:hover{
			color:#fff;			
		}
	}
	h1{
		padding-left:50px;
		a{
			color:#fff;
		}
	}
	ul{
		line-height:68px;
		ul{
		line-height:40px;
		background:#fff;
		//background:rgba(255,255,255,0);
    	position:absolute;
    	left:-9999px;
		border:1px solid #B2B2B2;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
		border-radius:5px;
			li{
				a{
					text-transform:none;
					color:#000;
					text-align:center;
					font-weight:normal;
					font-size:.9em;
					padding:10px 20px;
				}
				&:hover a{
					color:#08c;
				}

			}
			a{
				white-space:nowrap;
			}
		
		}
		li:hover{ 
			a{
				color:#fff;
			}
		ul{
			left:0;
			a{
				color:#000;
				&:hover{
					color:#08c;
				}
			}
			ul{
				left:-9999px;
			}
			li:hover ul{
				left:90%;
				top:0%;
				z-index:1;

				li{
					float:none;
					a{
						color:#000;
						&:hover{
							color:#08c;
						}
					}
				}
			}
		}
		}		
		
	}
}

			//add this to cutomer login
			// &:last-child{
			// 	a{
			// 		background: linear-gradient(#49afcd,#2f96b4);
			// 		padding:10px;
			// 		border-radius:5px;
			// 		font-weight:normal;
			// 		color:#fff;
			// 		text-shadow: -1px -1px #000;
			// 	}
			// }	