@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?-ixw9vb');
	src:url('../fonts/icons.eot?#iefix-ixw9vb') format('embedded-opentype'),
		url('../fonts/icons.woff?-ixw9vb') format('woff'),
		url('../fonts/icons.ttf?-ixw9vb') format('truetype'),
		url('../fonts/icons.svg?-ixw9vb#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
background-color: #FFF;
color: #222;
font-family: arial,helvetica,sans-serif;
}

#logo {
font-size: 1em;
position: relative;
vertical-align: top;
}

.down-arrow:after{
	font-family:'icons';
	content:"\e600";
	color:#fff;
	vertical-align:middle;
}

.right-arrow:after{
	font-family:'icons';
	content:"\e601";
	vertical-align:middle;
	display:inline;	
}

.phone{
	position:relative;
	vertical-align:top;
	&:before{
		font-family:'icons';
		content:"\e602";
		display:inline;
		vertical-align:top;
	}
}

.container{
	position:relative;
	margin:0 15%;
}
.mainnav{
	z-index:999;
	list-style:none;
	background:#4D5357;
	color:#fff;
	width:100%;
	height:68px;
	position:fixed;
	font-weight:bold;
	border-bottom: 1px solid #000;
	li{
		float:left;
		text-transform: uppercase;
		position:relative;
		margin-right:10px;

	}
	a{
		color:#E1953E;
		padding:10px;
		&:hover{
			color:#fff;			
		}
	}
	h1{
		margin-right:250px;
		margin-left:-10px;
		a{
			color:#fff;
		}
	}
	ul{
		line-height:68px;
		ul{
		line-height:40px;
		background:#fff;
		//background:rgba(255,255,255,0);
    	position:absolute;
    	left:-9999px;
		border:1px solid #B2B2B2;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
		border-radius:5px;
			li{
				a{
					text-transform:none;
					color:#000;
					text-align:center;
					font-weight:normal;
					font-size:.9em;
					padding:10px 20px;
				}
				&:hover a{
					color:#08c;
				}

			}
			a{
				white-space:nowrap;
			}
		
		}
		li:hover{ 
			a{
				color:#fff;
			}
			ul{
				left:0;
				a{
					color:#000;
					&:hover{
						color:#08c;
					}
				}
				ul{
					left:-9999px;
				}
				li:hover ul{
					left:90%;
					top:0%;
					z-index:1;
	
					li{
						float:none;
						a{
							color:#000;
							&:hover{
								color:#08c;
							}
						}
					}
				}
			}
		}
		
	}
}

.actionbuttons{
	position:fixed;
	top:78px;
	right:15%;
	font-size:1em;
	ul{
		li{
			float:left;
		}
	}
}


#trynow{
	background: linear-gradient(#fbb450,#f89406);
	border-radius:0 0 0 5px;
	padding:10px;
	font-weight:normal;
	color:#fff;
	text-shadow: -1px -1px #824E03;
	border:1px solid #f89406;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	&:hover{
	background:#f89406;
	color:#EBEBEB;
	}
}
#login{
	border:1px solid #2f96b4;
	background: linear-gradient(#49afcd,#2f96b4);
	border-radius:0 0 5px 0;
	padding:10px;
	font-weight:normal;
	color:#fff;
	text-shadow: -1px -1px #113540;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	&:hover{
	background: #2f96b4;
	color:#EBEBEB;
	}
}	