@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?lq1ie');
	src:url('../fonts/icons.eot?#iefixlq1ie') format('embedded-opentype'),
		url('../fonts/icons.woff?lq1ie') format('woff'),
		url('../fonts/icons.ttf?lq1ie') format('truetype'),
		url('../fonts/icons.svg?lq1ie#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
background-color:#ABABAB;
color: #222;
font-family: arial,helvetica,sans-serif;
}

.down-arrow:after{
	font-family:'icons';
	content:"\e600";
	color:#fff;
	vertical-align:middle;
}

.secondlayer-arrow:after{
	font-family:'icons';
	content:"\e601";
	vertical-align:middle;
	display:inline;	
}

.phone{
	position:relative;
	vertical-align:top;
	&:before{
		font-family:'icons';
		content:"\e602";
		display:inline;
		vertical-align:top;
	}
}

.container{
	position:relative;
	margin:0 15%;
}
.mainnav{
	z-index:999;
	list-style:none;
	background:#4D5357;
	color:#fff;
	width:100%;
	height:68px;
	position:fixed;
	font-weight:bold;
	border-bottom: 1px solid #000;
	#navicon{
		display:none;
	}
	li{
		float:left;
		text-transform: uppercase;
		position:relative;
		margin-right:10px;

	}
	a{
		color:#E1953E;
		padding:10px;
		&:hover{
			color:#fff;			
		}
	}
	h1{
		margin-right:200px;
		margin-left:-10px;
		a{
			color:#fff;
		}
	}
	ul{
		line-height:68px;
		ul{
		line-height:40px;
		background:#fff;
		//background:rgba(255,255,255,0);
    	position:absolute;
    	left:-9999px;
		border:1px solid #B2B2B2;
		box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
		border-radius:5px;
			li{
				a{
					text-transform:none;
					color:#000;
					text-align:center;
					font-weight:normal;
					font-size:.9em;
					padding:10px 20px;
				}
				&:hover a{
					color:#08c;
				}

			}
			a{
				white-space:nowrap;
			}

		}
		li:hover{ 
			a{
				color:#fff;
			}
			ul{
				left:0;
				a{
					color:#000;
					&:hover{
						color:#08c;
					}
				}
				ul{
					left:-9999px;
				}
				li:hover ul{
					left:90%;
					top:0%;
					z-index:1;

					li{
						float:none;
						a{
							color:#000;
							&:hover{
								color:#08c;
							}
						}
					}
				}
			}
		}

	}
}

.actionbuttons{
	position:fixed;
	display:inline;
	top:78px;
	right:15%;
	font-size:1em;
	z-index:998;
	float:right;
	ul{
		li{
			float:left;
		}
	}
}

.warmbutton{
	background: linear-gradient(#fbb450,#f89406);
	border-radius:0 0 0 5px;
	padding:10px;
	font-weight:normal;
	color:#fff;
	text-shadow: -1px -1px #824E03;
	border:1px solid #f89406;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	&:hover{
	background:#f89406;
	color:#EBEBEB;
	}
}
.coolbutton{
	border:1px solid #2f96b4;
	background: linear-gradient(#49afcd,#2f96b4);
	border-radius:0 0 5px 0;
	padding:10px;
	font-weight:normal;
	color:#fff;
	text-shadow: -1px -1px #113540;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	&:hover{
	background: #2f96b4;
	color:#EBEBEB;
	}
}

.content{
	padding-top:100px;
}	

footer{
	background:#4D5357;
	border-top:5px solid #000;
	margin:30px 0;
	height:400px;
	font-size:.8em;
	#left-footer{
		width:25%;
	 	color:#72BFE7;
	 	float:left;
	 	h1{
			display:inline-block;	
		}
		#social{
			margin:20px 0;
			h1{
				width:100%;
				border-bottom:1px solid #fff;
			}
			ul{
				
			}
			li{
				background:#72BFE7;
				float:left;
				border-radius:30px;
				border:1px solid #fff;
				margin:20px 0 20px 5%;
				&:first-child{
					margin-left:0;
				}
				#twitter-icon:after{
					font-family:'icons';
					content:"\e607";
					padding:10px;
					color:#fff;
					vertical-align:middle;
					display:inline-block;

				}
				#facebook-icon:after{
					font-family:'icons';
					content:"\e608";
					padding:10px;
					color:#fff;
					vertical-align:middle;
					display:inline-block;
				}
				#gplus-icon:after{
					font-family:'icons';
					content:"\e609";
					padding:10px;
					color:#fff;
					vertical-align:middle;
					display:inline-block;
				}
				#linkedin-icon:after{
					font-family:'icons';
					content:"\e60a";
					padding:10px;
					color:#fff;
					vertical-align:middle;
					display:inline-block;
				}
				#youtube-icon:after{
					font-family:'icons';
					content:"\e604";
					padding:10px;
					color:#fff;
					vertical-align:middle;
					display:inline-block;
				}
				&:hover{
					background:#7ED3FF;
				}
			}
		}

		#emailform{
			padding-top:10px;
			border-top:1px solid #fff;

			.email-icon:after{
				font-family:'icons';
				content:"\e606";
				color:#fff;
				vertical-align:middle;
				background:#72BFE7;
				padding:7px;
				border-radius: 5px 0 0 5px;
				float:left;
				box-sizing:border-box;
				width:10%;
				text-align:center;
			}

			#emailaddress{
				border-radius: 0 5px 5px 0;
				padding:5px;
				border:1px solid #D4D4D4;
				width:90%;
				box-sizing:border-box;
			}
		}
		.submit{
			font-size:.9em;
			float:right;
			border-radius:5px;
			box-shadow:none;
			padding:5px 10px;
		}
	}
	#right-footer{
		box-sizing: border-box;
		position:relative;
		width:70%;
		height:360px;
		display:inline-block;
		border-left: 1px solid #666;
		padding-left:2%;
		margin:20px 0 0 2%;
		line-height:30px;

		ul{
			float:left;
			margin-right:10%;
			color:#fff;
			a{
				color:#fff;
			}
			h1{
				margin-bottom:10px;
				color:#E1953E;
			}
			&:last-child{
				margin-right:0%;
			}
		}
	}
}

@media (max-width: 1590px){
	#brand{
		margin-right:100px;
	}
	.container{
		margin:0 10%;
	}
}

@media (max-width: 1280px){
	.mainnav{
		font-size:.8em;
	}
		#brand{
		margin-right:0;
	}
	.container{
		margin:0 10%;
	}
	footer{
		height:550px;
		#left-footer{
			width:100%;
			#social{
				h1{
					width:100%;
					border-bottom: 1px solid #fff;
				}
				ul{
					width:220px;
					margin: 0 auto;

				}
			}
			#emailform{
				.email-icon:after{
					width:30px;
					padding-bottom:8px;
				}

				#emailaddress{
					border-radius:0;
					padding:5px;
					border:1px solid #D4D4D4;
					box-sizing:border-box;
					width:60%;
					max-width:300px;

				}
			}
			.submit{
				float:none;
				border-radius:0 5px 5px 0;
				box-shadow:none;
				padding-top:6px;
				margin-left:-4px;
			}
		}
		#right-footer{
			width:100%;
			border-left:none;
			border-top: 1px solid #666;
			padding-left:0%;
			margin:0px;
			margin-top:30px;			
		}
	}
}

@media (max-width: 1000px){
	.container{
		margin:0 3%;
	}

	.secondlayer-arrow:after{
	font-family:'icons';
	content:"\e605";
	color:#fff;
	vertical-align:middle;
	display:inline;	
}

	.mainnav{
		height:auto;
		position:relative;
		#brand{
			img{
				max-width:100px;
			}
		}
		.phone{
			line-height:50px;
		}
		#navbar-toggle{
			display:none;
		}
		#navicon{
			float:right;
			display:inline;
			position:relative;
			top:-60px;
			padding:none;
			&:after{		
				font-family:'icons';
				font-size:2em;
				content:"\e603";
				color:#fff;
				padding:none;

			}
		}
		li{
			float:none;
			position:relative;

		}
		ul{
			line-height:40px;
			ul{
			line-height:40px;
			background:#fff;
			background:rgba(255,255,255,0);
	    	position:absolute;
			border:none;
			box-shadow:none;
				li{
					a{
						text-transform:none;
						color:#fff;
						text-align:center;
						font-weight:normal;
						font-size:1.1em;
					}

					&:hover a{
						color:#fff;
					}

				}
			}
			li:hover{ 
				a{
					color:#fff;
				}
				ul{
					position:relative;
					left:0;
					a{
						color:#E1953E;
						&:hover{
							color:#fff;
						}
					}
					ul{
						display:none;
					}
					li:hover ul{
						display:block;
						left:30px;
						li{
							float:none;
							a{
								color:#E1953E;
								font-size:1.3em;

								text-transform:none;

								&:hover{
									color:#fff;
								}
							}
						}
					}
				}
			}

		}
	}


	.actionbuttons{
		position:relative;
		display:inline;
		top:11px;
		right: 0;
		z-index:998;
		float:none;
		width:100%;
		ul{
			width:220px;
			margin:0 auto;
		}
		
	}	
	footer{
		text-align:center;
		height:1300px;
		#left-footer{
			text-align:left;

		}
		.container{
			#right-footer{
				ul{
					margin-right:0%;
					h1{
						margin-top:20px;
					}
					float:none;
				}
			}
		}
	}
}
