@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?lq1ie");
  src: url("../fonts/icons.eot?#iefixlq1ie") format("embedded-opentype"), url("../fonts/icons.woff?lq1ie") format("woff"), url("../fonts/icons.ttf?lq1ie") format("truetype"), url("../fonts/icons.svg?lq1ie#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.group:after {
  content: "";
  display: table;
  clear: both; }

body {
  background-color: #110914;
  color: #222;
  font-family: arial,helvetica,sans-serif; }

.down-arrow:after {
  font-family: 'icons';
  content: "\e600";
  color: #fff;
  vertical-align: middle; }

.secondlayer-arrow:after {
  font-family: 'icons';
  content: "\e601";
  vertical-align: middle;
  display: inline; }

.phone {
  position: relative;
  vertical-align: top; }
  .phone:before {
    font-family: 'icons';
    content: "\e602";
    display: inline;
    vertical-align: top; }

.container {
  position: relative;
  margin: 0 15%; }

.mainnav {
  z-index: 999;
  list-style: none;
  background: #4D5357;
  color: #fff;
  width: 100%;
  height: 68px;
  position: fixed;
  font-weight: bold;
  border-bottom: 1px solid #000; }
  .mainnav #navicon {
    display: none; }
  .mainnav li {
    float: left;
    text-transform: uppercase;
    position: relative;
    margin-right: 10px; }
  .mainnav a {
    color: #E1953E;
    padding: 10px; }
    .mainnav a:hover {
      color: #fff; }
  .mainnav h1 {
    margin-right: 200px;
    margin-left: -10px; }
    .mainnav h1 a {
      color: #fff; }
  .mainnav ul {
    line-height: 68px; }
    .mainnav ul ul {
      line-height: 40px;
      background: #fff;
      position: absolute;
      left: -9999px;
      border: 1px solid #B2B2B2;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px; }
      .mainnav ul ul li a {
        text-transform: none;
        color: #000;
        text-align: center;
        font-weight: normal;
        font-size: .9em;
        padding: 10px 20px; }
      .mainnav ul ul li:hover a {
        color: #08c; }
      .mainnav ul ul a {
        white-space: nowrap; }
    .mainnav ul li:hover a {
      color: #fff; }
    .mainnav ul li:hover ul {
      left: 0; }
      .mainnav ul li:hover ul a {
        color: #000; }
        .mainnav ul li:hover ul a:hover {
          color: #08c; }
      .mainnav ul li:hover ul ul {
        left: -9999px; }
      .mainnav ul li:hover ul li:hover ul {
        left: 90%;
        top: 0%;
        z-index: 1; }
        .mainnav ul li:hover ul li:hover ul li {
          float: none; }
          .mainnav ul li:hover ul li:hover ul li a {
            color: #000; }
            .mainnav ul li:hover ul li:hover ul li a:hover {
              color: #08c; }

.actionbuttons {
  position: fixed;
  display: inline;
  top: 78px;
  right: 15%;
  font-size: 1em;
  z-index: 998;
  float: right; }
  .actionbuttons ul li {
    float: left; }

.warmbutton {
  background: linear-gradient(#fbb450, #f89406);
  border-radius: 0 0 0 5px;
  padding: 10px;
  font-weight: normal;
  color: #fff;
  text-shadow: -1px -1px #824E03;
  border: 1px solid #f89406;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  .warmbutton:hover {
    background: #f89406;
    color: #EBEBEB; }

.coolbutton {
  border: 1px solid #2f96b4;
  background: linear-gradient(#49afcd, #2f96b4);
  border-radius: 0 0 5px 0;
  padding: 10px;
  font-weight: normal;
  color: #fff;
  text-shadow: -1px -1px #113540;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  .coolbutton:hover {
    background: #2f96b4;
    color: #EBEBEB; }

.content {
  padding-top: 100px;
  position: relative; }
  .content img {
    width: 100%; }

footer {
  background: #4D5357;
  border-top: 5px solid #000;
  margin-top: 30px;
  height: 400px;
  font-size: .8em; }
  footer #left-footer {
    width: 25%;
    color: #72BFE7;
    float: left; }
    footer #left-footer h1 {
      display: inline-block; }
    footer #left-footer #social {
      margin: 20px 0; }
      footer #left-footer #social h1 {
        width: 100%;
        border-bottom: 1px solid #fff; }
      footer #left-footer #social li {
        background: #72BFE7;
        float: left;
        border-radius: 30px;
        border: 1px solid #fff;
        margin: 20px 0 20px 5%; }
        footer #left-footer #social li:first-child {
          margin-left: 0; }
        footer #left-footer #social li #twitter-icon:after {
          font-family: 'icons';
          content: "\e607";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li #facebook-icon:after {
          font-family: 'icons';
          content: "\e608";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li #gplus-icon:after {
          font-family: 'icons';
          content: "\e609";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li #linkedin-icon:after {
          font-family: 'icons';
          content: "\e60a";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li #youtube-icon:after {
          font-family: 'icons';
          content: "\e604";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li:hover {
          background: #7ED3FF; }
    footer #left-footer #emailform {
      padding-top: 10px;
      border-top: 1px solid #fff; }
      footer #left-footer #emailform .email-icon:after {
        font-family: 'icons';
        content: "\e606";
        color: #fff;
        vertical-align: middle;
        background: #72BFE7;
        padding: 7px;
        border-radius: 5px 0 0 5px;
        float: left;
        box-sizing: border-box;
        width: 10%;
        text-align: center; }
      footer #left-footer #emailform #emailaddress {
        border-radius: 0 5px 5px 0;
        padding: 5px;
        border: 1px solid #D4D4D4;
        width: 90%;
        box-sizing: border-box; }
    footer #left-footer .submit {
      font-size: .9em;
      float: right;
      border-radius: 5px;
      box-shadow: none;
      padding: 5px 10px; }
  footer #right-footer {
    box-sizing: border-box;
    position: relative;
    width: 70%;
    height: 360px;
    display: inline-block;
    border-left: 1px solid #666;
    padding-left: 2%;
    margin: 20px 0 0 2%;
    line-height: 30px; }
    footer #right-footer ul {
      float: left;
      margin-right: 10%;
      color: #fff; }
      footer #right-footer ul a {
        color: #fff; }
      footer #right-footer ul h1 {
        margin-bottom: 10px;
        color: #E1953E; }
      footer #right-footer ul:last-child {
        margin-right: 0%; }

@media (max-width: 1590px) {
  #brand {
    margin-right: 100px; }

  .container {
    margin: 0 10%; } }
@media (max-width: 1280px) {
  .mainnav {
    font-size: .8em; }

  #brand {
    margin-right: 0; }

  .container {
    margin: 0 10%; }

  footer {
    height: 550px; }
    footer #left-footer {
      width: 100%; }
      footer #left-footer #social h1 {
        width: 100%;
        border-bottom: 1px solid #fff; }
      footer #left-footer #social ul {
        width: 220px;
        margin: 0 auto; }
      footer #left-footer #emailform .email-icon:after {
        width: 30px;
        padding-bottom: 8px; }
      footer #left-footer #emailform #emailaddress {
        border-radius: 0;
        padding: 5px;
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        width: 60%;
        max-width: 300px; }
      footer #left-footer .submit {
        float: none;
        border-radius: 0 5px 5px 0;
        box-shadow: none;
        padding-top: 6px;
        margin-left: -4px; }
    footer #right-footer {
      width: 100%;
      border-left: none;
      border-top: 1px solid #666;
      padding-left: 0%;
      margin: 0px;
      margin-top: 30px;
      height: auto; } }
@media (max-width: 1000px) {
  .container {
    margin: 0 3%; }

  .secondlayer-arrow:after {
    font-family: 'icons';
    content: "\e605";
    color: #fff;
    vertical-align: middle;
    display: inline; }

  .mainnav {
    height: auto;
    position: relative; }
    .mainnav #brand img {
      max-width: 100px; }
    .mainnav .phone {
      vertical-align: center; }
    .mainnav #navbar-toggle {
      display: none; }
    .mainnav #navicon {
      float: right;
      display: inline;
      position: relative;
      top: -50px;
      padding: none; }
      .mainnav #navicon:after {
        font-family: 'icons';
        font-size: 2em;
        content: "\e603";
        color: #fff;
        padding: none; }
    .mainnav li {
      float: none;
      position: relative; }
    .mainnav ul {
      line-height: 40px; }
      .mainnav ul ul {
        line-height: 40px;
        background: #fff;
        background: rgba(255, 255, 255, 0);
        position: absolute;
        border: none;
        box-shadow: none; }
        .mainnav ul ul li a {
          text-transform: none;
          color: #fff;
          text-align: center;
          font-weight: normal;
          font-size: 1.1em; }
        .mainnav ul ul li:hover a {
          color: #fff; }
      .mainnav ul li:hover a {
        color: #fff; }
      .mainnav ul li:hover ul {
        position: relative;
        left: 0; }
        .mainnav ul li:hover ul a {
          color: #E1953E; }
          .mainnav ul li:hover ul a:hover {
            color: #fff; }
        .mainnav ul li:hover ul ul {
          display: none; }
        .mainnav ul li:hover ul li:hover ul {
          display: block;
          left: 30px; }
          .mainnav ul li:hover ul li:hover ul li {
            float: none; }
            .mainnav ul li:hover ul li:hover ul li a {
              color: #E1953E;
              font-size: 1.3em;
              text-transform: none; }
              .mainnav ul li:hover ul li:hover ul li a:hover {
                color: #fff; }

  .actionbuttons {
    position: relative;
    display: inline;
    top: 11px;
    right: 0;
    z-index: 1000;
    float: none;
    width: 100%; }
    .actionbuttons ul {
      width: 230px;
      margin: 0 auto; }

  footer {
    text-align: center;
    height: 1250px; }
    footer #left-footer {
      text-align: left; }
    footer .container #right-footer ul {
      margin-right: 0%;
      float: none; }
      footer .container #right-footer ul h1 {
        margin-top: 20px; } }
