@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?lq1ie");
  src: url("../fonts/icons.eot?#iefixlq1ie") format("embedded-opentype"), url("../fonts/icons.woff?lq1ie") format("woff"), url("../fonts/icons.ttf?lq1ie") format("truetype"), url("../fonts/icons.svg?lq1ie#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.group:after {
  content: "";
  display: table;
  clear: both; }

body {
  background: #fff;
  color: #676663;
  font-family: 'Open Sans', Arial, sans-serif; }

.down-arrow:after {
  font-family: 'icons';
  content: "\e600";
  color: #fff;
  vertical-align: middle; }

.secondlayer-arrow:after {
  font-family: 'icons';
  content: "\e601";
  vertical-align: middle;
  display: inline; }

.phone {
  position: relative;
  vertical-align: top; }
  .phone:before {
    font-family: 'icons';
    content: "\e602";
    display: inline;
    vertical-align: top; }

.container {
  position: relative;
  padding: 0 15%; }

#brand {
  text-transform: uppercase;
  margin-right: 200px;
  margin-left: -10px;
  position: absolute;
  line-height: 68px; }
  #brand a {
    color: #7C0E26; }

.mainnav {
  z-index: 999;
  font-size: .9em;
  list-style: none;
  background: #fff;
  color: #676663;
  width: 100%;
  height: 68px;
  position: fixed;
  font-weight: bold;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
  .mainnav #navicon {
    display: none; }
  .mainnav li {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    margin-right: 10px; }
  .mainnav a {
    color: #676663;
    padding: 10px; }
  .mainnav ul {
    float: right;
    line-height: 68px;
    margin: 0 auto; }
    .mainnav ul ul {
      line-height: 40px;
      background: #fff;
      position: absolute;
      left: -9999px;
      border: 1px solid #B2B2B2;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px; }
      .mainnav ul ul li a {
        text-transform: none;
        text-align: center;
        font-weight: normal;
        font-size: .9em;
        padding: 10px 20px; }
      .mainnav ul ul li:hover a {
        color: #08c; }
      .mainnav ul ul a {
        white-space: nowrap; }
    .mainnav ul li:hover a {
      color: #08c; }
    .mainnav ul li:hover ul {
      left: 0; }
      .mainnav ul li:hover ul a {
        color: #676663; }
        .mainnav ul li:hover ul a:hover {
          color: #08c; }
      .mainnav ul li:hover ul ul {
        left: -9999px; }
      .mainnav ul li:hover ul li:hover ul {
        left: 90%;
        top: 0%;
        z-index: 1; }
        .mainnav ul li:hover ul li:hover ul li {
          float: none; }
          .mainnav ul li:hover ul li:hover ul li a {
            color: #676663; }
            .mainnav ul li:hover ul li:hover ul li a:hover {
              color: #08c; }

#contact-info li:last-child {
  margin-right: 0; }
  #contact-info li:last-child a {
    padding-right: 0; }

.actionbuttons {
  position: fixed;
  height: auto;
  display: inline;
  top: 68px;
  z-index: 998;
  right: 15%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }
  .actionbuttons ul li {
    float: left; }
  .actionbuttons a {
    position: relative;
    display: block; }

.warm-button {
  background: #7C0E26;
  padding: 10px;
  font-weight: normal;
  color: #fff; }
  .warm-button:hover {
    background: #C8173D;
    color: #EBEBEB; }

.cool-button {
  background: #3396CF;
  padding: 10px;
  font-weight: normal;
  color: #fff; }
  .cool-button:hover {
    background: #7ED3FF;
    color: #EBEBEB; }

.content {
  padding-top: 100px;
  position: relative; }
  .content img {
    width: 100%; }

footer {
  background: #686663;
  border-top: 39px solid #3396CF;
  margin-top: 30px;
  height: 400px;
  font-size: .8em; }
  footer #left-footer {
    width: 25%;
    color: #fff;
    float: left; }
    footer #left-footer h1 {
      display: inline-block;
      font-weight: normal; }
    footer #left-footer #social {
      margin: 20px 0; }
      footer #left-footer #social h1 {
        width: 100%; }
      footer #left-footer #social li {
        background: #3997CD;
        float: left;
        border-radius: 30px;
        margin: 20px 0 20px 5%; }
        footer #left-footer #social li:first-child {
          margin-left: 0; }
        footer #left-footer #social li #twitter-icon:after {
          font-family: 'icons';
          content: "\e607";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li #facebook-icon:after {
          font-family: 'icons';
          content: "\e608";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li #gplus-icon:after {
          font-family: 'icons';
          content: "\e609";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li #linkedin-icon:after {
          font-family: 'icons';
          content: "\e60a";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li #youtube-icon:after {
          font-family: 'icons';
          content: "\e604";
          padding: 10px;
          color: #fff;
          vertical-align: middle;
          display: inline-block; }
        footer #left-footer #social li:hover {
          background: #7ED3FF; }
    footer #left-footer #emailform {
      padding-top: 10px;
      color: #686663; }
      footer #left-footer #emailform .email-icon {
        min-height: 30px; }
      footer #left-footer #emailform .email-icon:after {
        font-family: 'icons';
        font-size: .9em;
        content: "\e606";
        color: #fff;
        background: #3997CD;
        padding: 9px;
        float: left;
        border-radius: 5px 0 0 5px;
        box-sizing: border-box;
        width: 10%;
        text-align: center; }
      footer #left-footer #emailform #emailaddress {
        border-radius: 0 5px 5px 0;
        border: 1px solid #D4D4D4;
        width: 90%;
        height: 30px;
        box-sizing: border-box; }
    footer #left-footer .submit {
      border: none;
      float: right;
      border-radius: 5px;
      box-shadow: none;
      padding: 6px 10px; }
  footer #right-footer {
    box-sizing: border-box;
    position: relative;
    width: 70%;
    height: 360px;
    display: inline-block;
    border-left: 1px solid #777;
    padding-left: 2%;
    margin: 20px 0 0 2%;
    line-height: 30px; }
    footer #right-footer ul {
      float: left;
      margin-right: 10%;
      color: #fff; }
      footer #right-footer ul a {
        color: #ccc; }
        footer #right-footer ul a:hover {
          color: #fff; }
      footer #right-footer ul h1 {
        margin-bottom: 10px;
        color: #fff; }
      footer #right-footer ul:last-child {
        margin-right: 0%; }

#copyright {
  position: relative;
  height: 50px;
  text-align: center;
  line-height: 50px; }

@media (max-width: 1470px) {
  #brand {
    margin-right: 100px; }

  .container {
    padding: 0 5%; }

  .actionbuttons {
    right: 5%; } }
@media (max-width: 1140px) {
  .mainnav {
    font-size: .9em; }

  footer #right-footer ul {
    margin-right: 5%; } }
@media (max-width: 1000px) {
  .container {
    padding: 0 3%; }

  .secondlayer-arrow:after {
    font-family: 'icons';
    content: "\e605";
    vertical-align: middle;
    display: inline; }

  .mainnav {
    height: auto;
    position: relative; }
    .mainnav #contact-info {
      display: block;
      font-size: .8em; }
      .mainnav #contact-info li {
        display: inline-block;
        margin-right: 0; }
        .mainnav #contact-info li:not(:last-child):after {
          content: '|'; }
    .mainnav #brand {
      position: relative; }
    .mainnav .phone {
      vertical-align: center; }
    .mainnav #navbar-toggle {
      display: none;
      position: relative; }
    .mainnav #navicon {
      position: absolute;
      right: 0;
      display: inline;
      top: 0px;
      padding: none;
      line-height: 50px; }
      .mainnav #navicon:after {
        font-family: 'icons';
        font-size: 2em;
        content: "\e603";
        padding: none; }
    .mainnav li {
      display: block;
      position: relative; }
    .mainnav ul {
      float: none;
      line-height: 40px; }
      .mainnav ul ul {
        line-height: 40px;
        position: absolute;
        border: none;
        box-shadow: none; }
        .mainnav ul ul li a {
          text-transform: none;
          text-align: center;
          font-weight: normal;
          font-size: 1.1em; }
      .mainnav ul li:hover ul {
        position: relative;
        left: 0; }
        .mainnav ul li:hover ul ul {
          display: none; }
        .mainnav ul li:hover ul li:hover ul {
          display: block;
          left: 30px; }
          .mainnav ul li:hover ul li:hover ul li {
            float: none; }
            .mainnav ul li:hover ul li:hover ul li a {
              font-size: 1.3em;
              text-transform: none; }

  .actionbuttons {
    position: relative;
    left: 3%;
    top: 0; }
    .actionbuttons ul {
      position: relative;
      width: 206px;
      height: 38px;
      display: block;
      margin: 0 auto;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }

  .content {
    padding-top: 3%;
    background: #fff; }

  footer {
    text-align: center;
    height: 250px; }
    footer #left-footer {
      width: 100%;
      text-align: center; }
      footer #left-footer #social h1 {
        text-align: center; }
      footer #left-footer #social ul {
        width: 220px;
        margin: 0 auto; }
      footer #left-footer #emailform {
        margin: 0 auto; }
        footer #left-footer #emailform .email-icon:after {
          float: none;
          position: relative;
          left: 4px; }
        footer #left-footer #emailform #emailaddress {
          border-radius: 0;
          padding: 5px;
          border: 1px solid #D4D4D4;
          box-sizing: border-box;
          width: 60%;
          max-width: 300px; }
      footer #left-footer .submit {
        float: none;
        border-radius: 0 5px 5px 0;
        box-shadow: none;
        padding-top: 6px;
        margin-left: -4px; }
    footer #right-footer {
      display: none; } }
@media (max-height: 570px) {
  .actionbuttons ul {
    width: 205px; }

  footer #left-footer #emailform .email-icon:after {
    padding-top: 9px; } }
