@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?6nkd5v");
  src: url("../fonts/icons.eot?#iefix6nkd5v") format("embedded-opentype"), url("../fonts/icons.woff?6nkd5v") format("woff"), url("../fonts/icons.ttf?6nkd5v") format("truetype"), url("../fonts/icons.svg?6nkd5v#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #FFF;
  color: #222;
  font-family: arial,helvetica,sans-serif; }

#logo {
  font-size: 1em;
  position: relative;
  vertical-align: top; }

.down-arrow:after {
  font-family: 'icons';
  content: "\e600";
  color: #fff;
  vertical-align: middle; }

.right-arrow:after {
  font-family: 'icons';
  content: "\e601";
  vertical-align: middle;
  display: inline; }

.phone {
  position: relative;
  vertical-align: top; }
  .phone:before {
    font-family: 'icons';
    content: "\e602";
    display: inline;
    vertical-align: top; }

.container {
  position: relative;
  margin: 0 15%; }

.mainnav {
  z-index: 999;
  list-style: none;
  background: #4D5357;
  color: #fff;
  width: 100%;
  height: 68px;
  position: fixed;
  font-weight: bold;
  border-bottom: 1px solid #000; }
  .mainnav li {
    float: left;
    text-transform: uppercase;
    position: relative;
    margin-right: 10px; }
  .mainnav a {
    color: #E1953E;
    padding: 10px; }
    .mainnav a:hover {
      color: #fff; }
  .mainnav h1 {
    margin-right: 250px;
    margin-left: -10px; }
    .mainnav h1 a {
      color: #fff; }
  .mainnav ul {
    line-height: 68px; }
    .mainnav ul ul {
      line-height: 40px;
      background: #fff;
      position: absolute;
      left: -9999px;
      border: 1px solid #B2B2B2;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px; }
      .mainnav ul ul li a {
        text-transform: none;
        color: #000;
        text-align: center;
        font-weight: normal;
        font-size: .9em;
        padding: 10px 20px; }
      .mainnav ul ul li:hover a {
        color: #08c; }
      .mainnav ul ul a {
        white-space: nowrap; }
    .mainnav ul li:hover a {
      color: #fff; }
    .mainnav ul li:hover ul {
      left: 0; }
      .mainnav ul li:hover ul a {
        color: #000; }
        .mainnav ul li:hover ul a:hover {
          color: #08c; }
      .mainnav ul li:hover ul ul {
        left: -9999px; }
      .mainnav ul li:hover ul li:hover ul {
        left: 90%;
        top: 0%;
        z-index: 1; }
        .mainnav ul li:hover ul li:hover ul li {
          float: none; }
          .mainnav ul li:hover ul li:hover ul li a {
            color: #000; }
            .mainnav ul li:hover ul li:hover ul li a:hover {
              color: #08c; }

.actionbuttons {
  position: fixed;
  top: 78px;
  right: 15%;
  font-size: 1em;
  z-index: 998; }
  .actionbuttons ul li {
    float: left; }

#trynow {
  background: linear-gradient(#fbb450, #f89406);
  border-radius: 0 0 0 5px;
  padding: 10px;
  font-weight: normal;
  color: #fff;
  text-shadow: -1px -1px #824E03;
  border: 1px solid #f89406;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  #trynow:hover {
    background: #f89406;
    color: #EBEBEB; }

#login {
  border: 1px solid #2f96b4;
  background: linear-gradient(#49afcd, #2f96b4);
  border-radius: 0 0 5px 0;
  padding: 10px;
  font-weight: normal;
  color: #fff;
  text-shadow: -1px -1px #113540;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
  #login:hover {
    background: #2f96b4;
    color: #EBEBEB; }

.content {
  margin-top: 150px; }

footer {
  background: #4D5357;
  border-top: 5px solid #000;
  margin: 30px 0; }
  footer .social {
    margin-top: 20px;
    color: #72BFE7;
    width: 25%; }
    footer .social li {
      background: #72BFE7;
      float: left;
      padding: 10px;
      border-radius: 30px;
      border: 1px solid #fff;
      margin: 10px 10px 20px 10px; }
      footer .social li:hover {
        background: #7ED3FF; }
    footer .social h1 {
      border-bottom: 1px solid #fff; }

.twitter-icon:after {
  font-family: 'icons';
  content: "\e607";
  color: #fff;
  vertical-align: middle; }

.facebook-icon:after {
  font-family: 'icons';
  content: "\e608";
  color: #fff;
  vertical-align: middle; }

.gplus-icon:after {
  font-family: 'icons';
  content: "\e609";
  color: #fff;
  vertical-align: middle; }

.linkedin-icon:after {
  font-family: 'icons';
  content: "\e60a";
  color: #fff;
  vertical-align: middle; }

.youtube-icon:after {
  font-family: 'icons';
  content: "\e604";
  color: #fff;
  vertical-align: middle; }
